{% extends "layout.html" %}

{% block content %}
  <h3>{{ page.title }} <small> (<a href="{{ urlTitle }}">{{ page.title }}</a>)</small></h3>
  <h4>by <a href="/users/{{ user.id }}">{{ user.name }}</a></h4>
  <div>
  <a href="PLACEHOLDER">{{ page.tags }}</a></li>
  </ul>
  </div>
  <hr/>
  <div><a href="/wiki/{{ page.urlTitle }}">{{ page.title }}</a></div>
  <div class="page-body">{{ page.content }}</div>
  <hr/>
  <a href="{{ page.urlTitle }}/edit" class="btn btn-primary">edit this page</a>
  <a href="{{ page.urlTitle }}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}
